body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: #1e293b;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar button.active {
  background: #0ea5e9;
  color: black;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.card {
  background: #020617;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* BIKE */
.bike-row {
  display: flex;
  gap: 10px;
}

.bike {
  padding: 10px;
  background: #1e293b;
  cursor: pointer;
}

.bike.active {
  background: #0ea5e9;
  color: black;
}

/* DIAGRAM */
.diagram {
  width: 200px;
  height: 200px;
  border: 1px solid #334155;
  position: relative;
}

#point {
  width: 10px;
  height: 10px;
  background: cyan;
  position: absolute;
  border-radius: 50%;
}
